#vscode
.vscode


# python
**/*.pyc
#**/*.ipynb

**/.ipynb_checkpoints
**/__pycache__

**/*.bin

/target
renders/
renders_d/
render.png

test.*

datasets/*
datasets_old/*

graphs/
logs*/
sh_tests/
tests/sh_errors
**/*.las
evaluation/error_8_1024max_64.png
evaluation/error_8_1024max_256.png
evaluation/error_16_1024max_64.png
evaluation/error_1024max_256.png
evaluation/error_1024max_512.png
evaluation/samples_8_1024max_64.png
evaluation/samples_8_1024max_256.png
evaluation/samples_16_1024max_64.png
evaluation/samples_1024max_256.png
