#vscode
.vscode


# python
**/*.pyc
#**/*.ipynb

**/.ipynb_checkpoints
**/__pycache__

**/*.bin

/target
renders/
renders_d/
render.png

test.*

datasets/*
datasets_old/*

graphs/
logs*/
sh_tests/
tests/sh_errors
**/*.las
